{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div id="container-1">
        {% include 'blocks/content_elems/form.html' %}
      </div>
    </div>
    <div class="col">
      <div id="container-2">
        {% include 'blocks/content_elems/table.html' %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="container-3">
        {% include 'blocks/content_elems/list.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}